<div class="user-details">
    <h3>About</h3>
    <p>
        I'm a software engineer who's passionate about building experiences that delight users and improve their quality of life.
        I'm skilled in a wide variety of languages and platforms necessary to accomplish these goals, and am always trying to learn and add more.
    </p>
    <p>
        My primary areas of interest these days are:
        <ul>
        <li>Distributed systems and databases</li>
        <li>Monitoring and data-driven customer experience analysis</li>
        <li>Load and chaos testing</li>
        <li>Side-channel vulnerabilities, attacks, and mitigations</li>
        <li>Woodworking, home-brewing, and baking</li>
        </ul>
    </p>
    <p>
        I currently work on the
        <a href="https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html" target="_blank">EC2 VPC</a>
        product at AWS, where we build highly available, fault-tolerant control planes to implement and maintain critical virtual networking functionality at scale.
    </p>
</div>