<div class="container" style="margin-top:1em">
  <div class="row">
    <div class="one-third column">
      <div id="li">
      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="adam-fendley"><a class="LI-simple-link" href='https://www.linkedin.com/in/adam-fendley?trk=profile-badge'><img alt="LinkedIn Banner" src="{{ "/assets/img/linkedin.png" | prepend: site.baseurl }}" style="max-width: 100%;height: auto;" /></a></div>
      </div>
    </div>
    <div class="two-thirds column">
      <div class="user-details">
        <h3>About</h3>
        <p>
          I'm a Senior at Christopher Newport University in Newport News, Virginia and I like building applications that make life better for people.
          I love Linux, Git, Databases, and APIs, and I jump at any chance I get to do more DevOps. I'm especially fascinated by authentication methods, software vulnerabilities, and cryptography.
          Outside of the technology world, I've been a Freshman Orientation Leader and Leadership Program Ambassador at CNU for two years -- I like talking to people, being a resource on campus to new students, and finding ways to improve people's experience.
          I'm also an ice hockey player, hiker, and podcast addict.
        </p>
      </div>
    </div>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Platforms</h4>
      <i class="devicon-android-plain"></i>
      <i class="devicon-apple-original"></i>
      <i class="devicon-windows8-original"></i>
      <i class="devicon-linux-plain"></i>
      <p>Proficient in Android, iOS, macOS, Windows, and Linux. Native and Cordova apps developed for iOS and Android.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-php-plain"></i>
      <p>I'm also good with Objective-C, HTML/CSS and Bootstrap, and Regex.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <i class="devicon-confluence-plain"></i>
      <i class="devicon-django-plain"></i>
      <i class="devicon-mongodb-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <p>I've also built projects using .NET, OracleDB, Jenkins, Grunt, Maven & Gradle, SVN, NodeJS, Flask, jUnit, Sonar, jQuery / jQuery UI, and Kendo UI.</p>
    </div>
  </div>
</div>
