<div class="container" style="margin-top:1em">
  <div class="row">
    <div class="one-third column">
      <div id="li">
        <a class="LI-simple-link" href='https://www.linkedin.com/in/adam-fendley?trk=profile-badge'><img alt="LinkedIn Banner" src="{{ "/assets/img/linkedin.png" | prepend: site.baseurl }}" style="max-width: 100%;height: auto;" /></a>
      </div>
    </div>
    <div class="two-thirds column">
      <div class="user-details">
        <h3>About</h3>
        <p>
          I'm a software engineer who's passionate about building experiences that delight users and improve their quality of life.
          I'm skilled in a wide variety of languages and platforms necessary to accomplish these goals, and am always trying to learn and add more.
        </p>
        <p>
          My primary areas of interest these days are:
          <ul>
            <li>Distributed systems and databases</li>
            <li>Monitoring and data-driven customer experience analysis</li>
            <li>Load and chaos testing</li>
            <li>Side-channel vulnerabilities, attacks, and mitigations</li>
            <li>Woodworking, home-brewing, and baking</li>
          </ul>
        </p>
        <p>
          I currently work on the
          <a href="https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html" target="_blank">EC2 VPC</a>
          product at AWS, where we build highly available, fault-tolerant control planes to implement and maintain critical virtual networking functionality at scale.
        </p>
      </div>
    </div>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Platforms</h4>
        <table align="center">
          <tr>
            <td>
              <i class="devicon-apple-original"></i>
            </td>
            <td>
              <i class="devicon-android-plain"></i>
            </td>
            <td>
              <i class="devicon-windows8-original"></i>
            </td>
          </tr>
          <tr>
            <td>
              <i class="devicon-linux-plain"></i>
            </td>
            <td>
                <i class="devicon-docker-plain-wordmark"></i>
              </td>
            <td>
              <i class="devicon-amazonwebservices-plain-wordmark"></i>
            </td>
          </tr>
        </table>
      <p>I'm proficient in iOS, macOS, Android, Windows, Linux, and Docker. I've made native and cordova apps for Android and iOS.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <table align="center">
        <tr>
          <td>
            <i class="devicon-swift-plain"></i>
          </td>
          <td>
            <i class="devicon-python-plain-wordmark"></i>
          </td>
          <td>
            <i class="devicon-java-plain-wordmark"></i>
          </td>
        </tr>
        <tr>
          <td>
            <i class="devicon-csharp-plain"></i>
          </td>
          <td>
            <i class="devicon-javascript-plain"></i>
          </td>
          <td>
            <i class="devicon-php-plain"></i>
          </td>
        </tr>
      </table>
      <p>I'm also good with Objective-C, C++, HTML/CSS, jQuery, D3.js, Node.js, and Regex.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <table align="center">
          <tr>
            <td>
              <i class="devicon-git-plain"></i>
            </td>
            <td>
              <i class="devicon-confluence-plain"></i>
            </td>
            <td>
              <i class="devicon-django-plain"></i>
            </td>
          </tr>
          <tr>
            <td>
              <i class="devicon-dot-net-plain-wordmark"></i>
            </td>
            <td>
              <i class="devicon-mongodb-plain-wordmark"></i>
            </td>
            <td>
              <i class="devicon-mysql-plain-wordmark"></i>
            </td>
          </tr>
        </table>
      <p>I've also built projects using OracleDB, Jenkins, Grunt, Maven &amp; Gradle, SVN, Flask, jUnit, Sonar, and Nginx &amp; Apache.</p>
    </div>
  </div>
</div>
